<h1>Welcome everyone</h1>
<p>This is the best TODO app</p>

<% if user_signed_in? %>
  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
<% else %>
  <%= link_to('Login', new_user_session_path) %>
<% end %>

<%= link_to 'List', lists_path%>