<%= render 'layouts/header'%>
<%= image_tag('background-welcome.jpg', class:"w-100 h-100") %>
  <h1 class="fixed-bottom text-white ", style="margin-left:300px; margin-bottom:200px">Perfect way to manage your time</h1>
  <h1 class="fixed-bottom text-white ", style="margin-left:1100px; margin-bottom:200px">Doing all your daily tasks </h1>